.dialogs {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;

}


.dialogsItems{
    padding:10px;
    color:white;
}

.dialogsItems .active{
    color:orange;
}

.messages {
    padding:10px;
    color:white;
}


.messages .message {

}